@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body{
    font-family: 'Lato', sans-serif;
}

.main-wraper {
    width: 60%;   
    margin: 8% auto 0;
    background-color: #181717f5;
    color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(111, 111, 100, 0.2) 0px 7px 29px 0px;
}

.container-section > div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.row-left {
    width: 25%;
    padding-top: 20px;
}

.row-left img{
    width: 80%;
    border-radius: 50%;
    border: 5px solid #4d4d4d;
}

.row-right {
    width: 75%;
}

.stats-user{
    display: flex;
    gap: 15px;
}

.stats-user span{
    font-weight: 700;
}

.link-repos {
    margin-bottom: 4%;
}

.link-repos a{
    margin-right: 10px;
    background-color: #4d4d4d;
    padding: 1px 6px 5px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 7px;
    display: inline-block;
}

.link-repos a:hover{
    background-color: #3a3a3a;
}

.search-section {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 4%;
}

.search-section input{
    width: 60%;
    outline: none;
    border: 0px solid;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid;
    background-color: #ff000000;
}

.search-section a{
    width: 20%;
    
    color: #000;
    background-color: #fff;
    padding: 10px 8px 13px;
    text-decoration: none;
    font-weight: 800;
    border-radius: 20px;
    text-align: center;

}

.search-section a:hover{
    background-color: #c9c9c9;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}