@font-face {
    font-family: "Bell MT";
    src: url("/fonts/BellMT.ttf") format("truetype");
}

*{
    font-family: 'Bell MT', sans-serif;
}

body{
    background: #ffff;
}

.text-justify{
    text-align: justify;
}

.nav-link{
    font-weight: 600;
    font-family: 'Bell MT', sans-serif;
}

h1{
    font-family: 'Bell MT', sans-serif;
}

.btn:hover{
    background: #171717;
    color: #ffff;
    border: #171717;
}

.card-body{
    background: #838383;
}

.enlace{
    text-decoration: none;
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

#back-to-top-btn i {
    margin-top: 10px;
}

#back-to-top-btn:hover {
    opacity: 0.8;
}